/ch_49_restaurent_ordering/__pycache__
/ch_50_cricket_oop_scoreboard/__pycache__
/ch_51_coffee_machine_v2/__pycache__
/ch_52_hotel_booking/__pycache__
/ch_52_hotel_booking/data_csv
/ch_53_password_manager_v2/__pycache__
/ch_53_password_manager_v2/data
/ch_54_banking_system_v2/__pycache__
/ch_54_banking_system_v2/data